/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(../fonts/Lato-Hairline.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(../fonts/Lato-Hairline.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato-Light.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(../fonts/Lato-Black.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(../fonts/Lato-Black.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abel Regular'), local('Abel-Regular'), url(../fonts/Abel-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Fedra Sans";
  src: url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.eot");
  src: url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.woff2") format("woff2"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.woff") format("woff"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.svg#typotheque_webfonts_service") format("svg");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Fedra Sans Light";
  src: url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.eot");
  src: url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.woff2") format("woff2"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.woff") format("woff"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000002-2440e5cf2607528c31d46ba4c85e85ac.svg#typotheque_webfonts_service") format("svg");
}
/*@font-face {
  font-family: "Fedra Sans Book";
  src: url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000007-0d07a1bc58a247a096c2954a43308b42.eot");
  src: url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000007-0d07a1bc58a247a096c2954a43308b42.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000007-0d07a1bc58a247a096c2954a43308b42.woff2") format("woff2"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000007-0d07a1bc58a247a096c2954a43308b42.woff") format("woff"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000007-0d07a1bc58a247a096c2954a43308b42.svg#typotheque_webfonts_service") format("svg");
}
@font-face {
  font-family: "Fedra Sans Demi";
  src: url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000017-0fa41dd31ad4230b9255bcbf482febcf.eot")format("opentype");
  src: url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000017-0fa41dd31ad4230b9255bcbf482febcf.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000017-0fa41dd31ad4230b9255bcbf482febcf.woff2") format("woff2"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000017-0fa41dd31ad4230b9255bcbf482febcf.woff") format("woff"), url("https://s3-ap-southeast-1.amazonaws.com/fonts-singapore.typotheque.com/WF-033812-010897-000017-0fa41dd31ad4230b9255bcbf482febcf.svg#typotheque_webfonts_service") format("svg");
}*/

@font-face {
  font-family: "Fedra Sans Bold";
  src: url("../fonts/WF-033812-010897-000025-d4f06c16c88891ccd267d08a7edccfa9.eot");
  src: url("../fonts/WF-033812-010897-000025-d4f06c16c88891ccd267d08a7edccfa9.eot?#iefix") format("embedded-opentype"), url("../fonts/WF-033812-010897-000025-d4f06c16c88891ccd267d08a7edccfa9.woff2") format("woff2"), url("../fonts/WF-033812-010897-000025-d4f06c16c88891ccd267d08a7edccfa9.woff") format("woff"), url("../fonts/WF-033812-010897-000025-d4f06c16c88891ccd267d08a7edccfa9.svg#typotheque_webfonts_service") format("svg");
}
@font-face {
  font-family: "Fedra Sans Demi";
  src: url("../fonts/WF-033812-010897-000017-3e47e63c2ddd850fd0e0b620d05a34ea.eot");
  src: url("../fonts/WF-033812-010897-000017-3e47e63c2ddd850fd0e0b620d05a34ea.eot?#iefix") format("embedded-opentype"), url("../fonts/WF-033812-010897-000017-3e47e63c2ddd850fd0e0b620d05a34ea.woff2") format("woff2"), url("../fonts/WF-033812-010897-000017-3e47e63c2ddd850fd0e0b620d05a34ea.woff") format("woff"), url("../fonts/WF-033812-010897-000017-3e47e63c2ddd850fd0e0b620d05a34ea.svg#typotheque_webfonts_service") format("svg");
}
@font-face {
  font-family: "Fedra Sans Book";
  src: url("../fonts/WF-033812-010897-000007-a0e9c786fa2e1163555112861268b341.eot");
  src: url("../fonts/WF-033812-010897-000007-a0e9c786fa2e1163555112861268b341.eot?#iefix") format("embedded-opentype"), url("../fonts/WF-033812-010897-000007-a0e9c786fa2e1163555112861268b341.woff2") format("woff2"), url("../fonts/WF-033812-010897-000007-a0e9c786fa2e1163555112861268b341.woff") format("woff"), url("../fonts/WF-033812-010897-000007-a0e9c786fa2e1163555112861268b341.svg#typotheque_webfonts_service") format("svg");
}

/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 100;
  src: local('Josefin Slab Thin'), local('JosefinSlab-Thin'), url(../fonts/lW-nwjwOK3Ps5GSJlNNkMalvyT6tDs8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Marian';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/MarianText-1554Roman.eot) format('embedded-opentype'), url(../fonts/MarianText-1554Roman.woff) format('woff'), url(../fonts/MarianText-1554Roman.otf) format('opentype');
}